body{
    animation: color 2s infinite ;
}

.container{
    display:flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
input{
    margin: 10px;
    border: 1px solid rgb(29, 28, 28);
    border-radius: 10px;
    padding: 5px;
    background-color: transparent;
    outline: none;
}
button{
    background: transparent;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}

@keyframes color{
    from{
        background-color: rgb(50, 26, 182);
    }
    to{
        background-color: rgb(25, 155, 160);
    }
}